* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


body {
    background-color: #0b0c1f;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.botao-voltar {
    height: 30px;
    cursor: pointer;
}

.esquerda h1 {
    margin-left: 20px;
    font-size: 18px;
}

.direita {
    display: flex;
    align-items: center;
    gap: 10px;
}

.direita h2 {
    font-size: 14px;
    color: #555;
}

#perfil {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

section h1 {
    font-size: 1.2em;
    text-align: center;
}

#info {
    background: linear-gradient(135deg, #1e1e4f, #3a3a8a);
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    color: white;
    margin-top: 10px;
}

#info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#info h3 {
    font-size: 1.3em;
    font-weight: lighter;
    margin-bottom: 8px;
}

hr {
    margin-bottom: 7px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.campo input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

#iproduto {
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.botoes button {
    background: linear-gradient(135deg, #282852, #545491);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s
}

.botoes button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {

header {
max-width: 100%;
}

#sla{
        width: 100%;
        max-width: 540px;
        box-sizing: border-box;
        margin: 0 auto;
}

.cadastro-loja {
width: 100%;
padding: 0 1em;
}

.esquerda h1 {
font-size: 1.5em;
}

#info h2 {
font-size: 1.2em;
}

.campo input {
font-size: 1em;
width: 100%;
box-sizing: border-box;
}

#iproduto {
width: 100%;
border-radius: 10px;
box-sizing: border-box;
}

.botoes button {
font-size: 1em;
padding: 0.8em 1.5em;
width: 100%; 
box-sizing: border-box;
}

#info {
    max-width: 600px;
}

.cadastro {
    max-width: 600px;
}

.botoes button {
    font-size: 1.1em;
}
}

/* 768px até 992px: Tablets */
@media (min-width: 768px) and (max-width: 992px) {
#info {
    max-width: 700px;
}

#info h2 {
    font-size: 2.2em;
}

.cadastro {
    max-width: 600px;
}
}

/* 992px até 1200px: Desktops */
@media (min-width: 992px) {
.cadastro-loja,#info {
    width: 900px;
}

.esquerda h1 {
    font-size: 2em;
}

#info h2 {
    font-size: 2.5em;
}

.campo input {
    font-size: 1.2em;
}

.botoes button {
    font-size: 1.1em;
    padding: 1em 2em;
}
}

#info {
    max-width: 900px;
}

.cadastro {
    max-width: 900px;
}

.botoes button {
    font-size: 1.1em;
}