* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e4f;
    color: white;
}

.esquerda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao-voltar {
    height: 50px;
    cursor: pointer;
}

.direita h2 {
    font-size: 14px;
    color: #ddd;
}

#perfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

section h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
}

#info {
    background: linear-gradient(135deg, #1e1e4f, #3a3a8a);
    padding: 20px;
    max-width: 600px;
    border-radius: 30px;
    margin: 100px auto;
    color: white;

}

#info h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

#info h3 {
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 15px;
}

.blocoMae{
    display: grid;
    grid-template-columns: auto auto;
}

.cadastro-loja {
    flex-direction: column;
    gap: 15px;
    display: flex;
}

.campo {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-top: 5px;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input,
#idescricao, #isala {
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
    width: 100%;
    transition: border-color 0.3s;
    background-color: #c7c7f79a;
}

.campo input:focus,
#idescricao:focus {
    border-color: #1e1e4f;
}


#isala, #iproduto, #inome{
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

#isala{
    height: 40px;
    font-size: 1.1em;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botoes button {
    background: linear-gradient(135deg, #282852, #545491);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    margin: 0 5px;
}

.botoes button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {



#isala, #iproduto, #inome{
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    font-size: 18px;
}

.campo input, #idescricao {
padding: 10px;
border-radius: 15px;
font-size: 18px;
width: 220px;
transition: border-color 0.3s;
}

#info {
    width: 90%;
    margin: 10px auto;
}

.botoes button {
    width: 100%;
    padding: 15px;
}

#isala, #iproduto, #inome{
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    font-size: 18px;
}

.campo input, #idescricao {
padding: 10px;
border-radius: 15px;
font-size: 18px;
width: 130px;
transition: border-color 0.3s;
}

}

@media (min-width: 768px) {
    #info {
        max-width: 700px;
    }

    #isala, #iproduto, #inome{
        border-radius: 10px;
        width: 250px;
        padding: 10px;
        font-size: 18px;
    }
    
    .campo input, #idescricao {
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    width: 350px;
    transition: border-color 0.3s;
    }
    
}

@media (min-width: 992px) {
    #info {
        min-width: 900px;
    }

    .esquerda{
        font-size: 3em;
    
    }

    .botao-voltar{
        height: 100px;
    }
 
    .info h2{
        font-size: 3em;
    }

    .info h3{
        font-size: 5em;
    }
}

.blocoMae {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Mantém os blocos lado a lado */
    margin-top: 20px;
}

.bloco1 {
    width: 200px; /* Aumenta a largura do bloco 1 */
    margin-left: 30px ;
}

.bloco2 {
    width: 350px; /* Aumenta a largura do bloco 2 */
}